// resets, variables, mixins, and utils

// ----- BREAKPOINTS ----- //

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

// ----- COLORS ----- //

$strive-blue: #2a83eb;

$strive-red: #f01e13;
$x-light-red: rgb(240, 226, 226);

$black: rgb(39, 39, 39);

// ----- FONTS ----- //

$font-body: "Oswald", sans-serif;
$font-header: "Oswald", sans-serif;
