a {
  text-decoration: none;
  font-family: $font-header;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  border-left: 10px solid $strive-blue;
  padding: 1rem 4rem 1rem 4rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0;

  &__buttons {
    margin: -.5rem 0 1rem 0;
  }

  input {
    margin-bottom: .5rem;
    width: 20rem;
    padding: .5rem;
    border-radius: 5px;

    &:focus::-webkit-input-placeholder{
      color: transparent;
    }
  }

  button {
    margin-top: 1rem; 
  }

  p {
    margin: 0;
  }
}

.btn {
  align-self:center;
  background:transparent;
  padding:.5rem .75rem;
  margin:0 1rem;
  transition:all .5s ease;
  color:$x-light-red;
  font-size:1rem;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px rgba(24, 24, 24, 0.2);
  border:solid 3px $x-light-red;
  text-decoration: none;
  transition: all 300ms;
  text-transform: uppercase;
  font-family: $font-header;

  &--primary {
    background: $strive-blue;
    border-color: $black;
    color: white;
  }

  &--hero {
    border-color: $x-light-red;
  }

  &--form {
    background: $black;
    width: 11rem;
  }

  &:hover {
    cursor: pointer;
    box-shadow:2px 8px 4px -6px rgba(26, 26, 26, 0.3);
    background: $strive-red;
    color: white;
  }

  &:active {
    box-shadow:2px 4px 4px -6px rgba(26, 26, 26, 0.8);
  }
}

// mobile navbar with hamburger menu
.navbar {
  background: transparent;
  

  &__opacity {
    background: $x-light-red;
  }
}

#navbar {
  display: grid;
  position: fixed;
  width: 100vw;
  z-index: 100;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: 
    "...... ...... closed"
    "......  open  ......";

    @include md {
      display: none;
    }

  .bar {
    display: block;
    width: 100%;
    height: 15%;
    margin-top: 10%;
    transition: all .25s;
  }

  &-closed {
    grid-area: closed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md {
      display: none;
    }
  }

  &-open {
    grid-area: open;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include md {
      display: none;
    }
  }

  &__logo {
    width: 12rem;
    padding: 0 1rem;
    margin: 1rem 0;

    @include sm {
      width: 14rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0 0;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;

    a {
      margin-bottom: 1rem;
      color: $black;
      text-transform: uppercase;
    }

  }

  &__hamburger {
    cursor: pointer;
    
    width:30px;
    height:25px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
  }
}

// navbar hamburger animation
.bar {
  display: block;
  
  width:100%;
  
  background: $black;
  
  transition:0.25s;
  -webkit-transition:0.25s;
  
-webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;          
}

.animate .bar:nth-child(1) {
  transform:translateY(8px) rotate(135deg);
  background: $strive-red;
}

.animate .bar:nth-child(2) {
  opacity: 0;
}

.animate .bar:nth-child(3) {
  transform:translateY(-8px) rotate(-135deg);
  background: $strive-red;
}


// navbar with visible links for tablets and up
#navbar--md {
  display: none;

  @include md {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: all 300ms;
  }

  &.showNav {
   background-color: white;  
   
   a {
    color: $strive-red;
   }
   img {
     width: 8rem;
   }
  }

  img {
    width: 12rem;
    margin: 1rem 1rem;
    transition: all 300ms;
  }


  &-open {
    margin-right: 1rem;

    @include lg {
      margin-right: 2rem;
    }

    @include xl {
      margin-right: 5rem;
    }

  }

  &__links {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;

    a {
      margin-right: 2rem;
      text-transform: uppercase;
      color: white;
    }

    // underline hover effect on nav links
    .link {
      position: relative;
      transition: all 300ms;

      &:after,
      &:before {
        transition: all 300ms;
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: $strive-blue;
        height: 2px;
      }

      &:hover:after {
        width: 75%;
      }
    }

    .btn--primary {
      background: $strive-blue;
      border-color: black;
      color: white;

      &:hover {
        background: $strive-red;
      }
    }
  }
}


